/*.transparent {*/
/*    border-width: 0px;*/
/*    -webkit-box-shadow: 0px 0px;*/
/*    box-shadow: 0px 0px;*/
/*}*/

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.first-bg-1 {
    width: 100vw;
    height: 100vh;
    border-style: none;
    background: url("style/bg-1.jpg") no-repeat;
    background-size: cover;
}

.first-bg-2 {
    width: 100vw;
    height: 100vh;
    border-style: none;
    background: url("style/bg-2.jpg") no-repeat;
    background-size: cover;
}

.first-bg-3 {
    width: 100vw;
    height: 100vh;
    border-style: none;
    background: url("style/bg-3.jpg") no-repeat;
    background-size: cover;
}

.first-bg-4 {
    width: 100vw;
    height: 100vh;
    border-style: none;
    background: url("style/bg-4.jpg") no-repeat;
    background-size: cover;
}

.icon-button {
    padding-top: 30px;
    text-align: center;
}

.icon {
    width: 30px;
    height: 30px;
}

.main-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0 0 0 0;
    padding: 20px 30px;
}

.sub-nav {
    display: none;
}

.navbar .sub-nav {
    background: transparent;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.side-bar-area {
    direction: rtl;
    margin-top: 20vh;
    margin-right: 3vw;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fa-circle {
    width: 18px;
    margin: 10px 10px;
    font-size: 18px;
    color: green;
}

.home-bio {
    width: 100vw;
    height: 100vh;
    background: white;
}

.bio-container {

}