body {
    margin: 0 0 0 0;
    text-align: center;
}

/*
first part background.
 */

.first-bg {
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100vw;
}

/*
navbar
 */

.navbar {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 40vh;
}

/*
icon
 */

/*.icon-button {*/
/*    text-align: center;*/
/*    margin: 0 0 0 0;*/
/*}*/

.main-nav {
    height: 7vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4vmin 5vmin;
    font-family: 'Open Sans', sans-serif;
}

.fa-mountain {
    color: black;
    font-size: 3.6vmin;
    padding: 4vmin 5vmin;
}

.li {
    padding: 4vmin 5vmin;
}

a {
    text-align: center;
    margin-top: 3vmin;
    padding: 0 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 3vmin;
}

/*
side bar
 */

.side-bar-area {
    position: absolute;
    top: 25vh;
    right: 3vw;
    margin-top: 10vh;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fa-circle {
    width: 3.6vw;
    margin: 2vmin 2vmin;
    font-size: 3.6vmin;
    color: yellow;
}

.first-text-container {
    position: absolute;
    top: 55vh;
    left: 10vw;
    text-align: left;
}

.first-text {
    margin: 0 0 0.5rem 0;
    font-family: 'Staatliches', cursive;
    font-size: 6vmin;
    color: yellow;
}

/*
second part, biography
 */

@media all and (orientation: portrait){
    .home-bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3.5vh 3.5vw 3.5vh 3.5vw;
        width: 93vw;
        /*height: auto;*/
        background: white;
        padding: 0;
    }

    .bio-container {
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        font-family: 'Open Sans', sans-serif;
        border-radius: 1rem;
        padding: 0;
        width: 86vw;
        height: 50vmax;
        color: black;
        font-size: 3vmax;
        text-align: center;
        margin: 3.5vh 3.5vw 3.5vh 3.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bio-picture {
        text-align: center;
        padding: 0;
        width: 86vw;
        height: 50vmax;
        margin: 3.5vh 3.5vw 3.5vh 3.5vw;
    }
}

.home-bio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3.5vh 3.5vw 3.5vh 3.5vw;
    width: 93vw;
    height: auto;
    background: white;
    padding: 0;
}

.bio-container {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-family: 'Open Sans', sans-serif;
    border-radius: 1rem;
    padding: 0;
    width: 39.5vw;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin: 3.5vh 3.5vw 3.5vh 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-picture {
    text-align: center;
    padding: 0;
    width: 39.5vw;
    margin: 3.5vh 3.5vw 3.5vh 3.5vw;
}

.bio-mypic {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

@media all and (orientation: portrait){
    .fa-arrow-up {
        color: blue;
        font-size: 5vmax;
    }

    .top-button {
        position: fixed;
        right: 3.6vmax;
        bottom: 3.6vmax;
        border: none;
        background: none;
        cursor: pointer;
    }
}

.fa-arrow-up {
    color: blue;
    font-size: 3.6vmin;
}

.top-button {
    position: fixed;
    right: 3.6vmin;
    bottom: 3.6vmin;
    border: none;
    background: none;
    cursor: pointer;
}

.footer-container {
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 20vh;
}

.footer-text {
    margin: 1vh 2vw 1vh 2vw;
    color: white;
    font-size: 2vmin;
}